p {
    font-size: 1.2rem;
    line-height: 2;
}

a:hover {
    font-size: 200%;
    color: #ff0000;
}

#mainheader {
    color: #ff0000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header img {
    margin-top: 1.2rem;
    display: flex;
    padding: 0.2%;
    margin: auto;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
}

header {
    padding: 2.5%;
    background-image: linear-gradient(to right, #333, #ff0000);
    color: #fff;
    text-align: center;
    border-bottom: 2% solid #ccc;
}

main {
    grid-row: 2;
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main p {
    font-size: 1.5rem;
    color: #555;
}

section {
    margin-bottom: 2.5%;
    padding: 4%;
    border: 50% solid #ccc;
    background-color: #fff;
}

footer {
    padding: 2%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-top: 2% solid #ccc;
}

.column {
    float: left;
    width: 50%;
    padding: 1.5%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    max-width: 76%;
    border: 0.4em solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    padding: 0.5%;
    margin: 1%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 1%;
    padding: 0.5%;
}

@media (max-width: 800px) {
    h2 {
        font-size: 1.3em;
        margin: 2%;
    }
}

@media (max-width: 600px) {
    .nav-menu {
        flex-direction: column;
        align-items: center;
    }

    .nav-menu li {
        margin: 0.4em;
    }

    .nav-menu a {
        font-size: 0.8em;
        padding: 0em;
    }
}